<div class="container my-4 bg-light p-4 animated fadeIn">
  <h1>About Heroes App</h1>
  <p class="">Duis commodo sint elit enim ex nulla exercitation magna voluptate occaecat consectetur cupidatat. Cillum proident labore ad duis labore non deserunt. Consectetur minim nulla exercitation non nisi. Esse est quis officia esse sunt pariatur. Do ipsum cupidatat deserunt ullamco. Sint anim cupidatat duis officia minim incididunt eiusmod exercitation sit tempor anim. Proident enim eu veniam aliqua irure occaecat aliquip cillum.</p>
</div>
